<% unless @q.to_s.length == 0 %>
  <p><a href="/?q=<%=h @q %>.json">Download as JSON</a></p>
<% end %>
<% if @foods.empty? %>
  <p class='important'>Nutritional data of foods, as released by <acronym title="Food Standards Australia and New Zealand government agency">FSANZ</acronym>.</p>
  <p>Results are also available in JSON format, to keep robots happy.</p>
  <p>You may reproduce this data for commercial purposes only by contacting <a href="http://www.foodstandards.gov.au/monitoringandsurveillance/nuttab2006/index.cfm">foodstandards.gov.au</a>.</p>
  <p>Made by <a href="http://xaviershay.com">Xavier Shay</a>, <a href="mailto:contact@rhnh.net">drop us a line</a> if you like. The code is <a href="https://github.com/xaviershay/ausnom">open source</a>.</p>
<% else %>
  <ul>
  <% @foods.each do |food| %>
    <li><a href="/foods/<%= food.food_id %>"><%= food.name %></a></li>
  <% end %>
  </ul>
<% end %>
