<!DOCTYPE html>
<html>
  <head>
    <title>ausnom - <%=h page_title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/ausnom.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <h1><a href="/">nom nom nom</a></h1>
    <form action='/'>
      <label for="q">Type name of food here: </label>
      <input id="q" name="q" value="<%=h @q %>" />
      <input type="submit" value="nom" />
    </form>
    <%= yield %>
  </body>
</html>

